# Ignore models
DeepSeek-1.5B-Medical/
DeepSeek-7B-Medical/
Meta-3B-Medical/

# Ignoring temp folders and database files
temp_data-*
db.sqlite3

# Ignore virtual environments
hacker

# Ignore log files and compiled Python files
*.log
*.pot
*.pyc
__pycache__

# Ignore media and credential files
media
user_api/creds.json

# Ignore VSCode specific files
.vscode/
*.code-workspace